html, body {
  height: 100%;
  }
  
  html {
    color: #222;
    line-height: 1.4;
  }
  
  body {
  margin: 0;
  background-position:center;
  background-size:auto 100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-color:#000;
  font-size: 20px;
  color: #fff;
  }

  img {
    border: 0;
    vertical-align: middle;
  }

  h1{
    margin: 0;
    cursor: default;
    }
    
    h1 {
    font-size:80px;
    line-height:80px;
    }
    
    p {
      cursor:default;
    }
    div{
      position: relative;
      top:30%;
      text-align:center;
    }